.product-carousel {
  position: relative;
}

.product-carousel .slick-list {
  margin: 0 -12px;
}

.product-carousel .slick-slide {
  padding: 0 12px;
}

.product-carousel .slick-slide > div {
  height: 100%;
}

.product-carousel .slick-arrow {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(67, 56, 255, 0.12);
  color: #4338ff;
  z-index: 2;
}

.product-carousel .slick-arrow::before {
  font-size: 18px;
  color: #4338ff;
}

.feature_product_area {
  position: relative;
}
